.main{
  align-items: center;
  border: 1px solid lightcoral;
  width: 30%;
  margin: auto;
  margin-top: 10%;
  padding: 6px;
  border-radius: 5px;
  min-height: 35vh;
}

.tabs{
   display: flex;
   gap: 1px;
}

button{
  padding: 10px 26px;
  color: white;
  background-color: rgb(38, 75, 74);
  cursor: pointer;
  border: 0px;
}
.selected {
  text-decoration: underline;
  color: black;
  background-color: lightgrey;
}